<h3>列表</h3>

博客总数<%= @total_count %>
<br/>
<%= paginate @blog %>
<%= link_to "新建", new_blog_path %><br/>

<%= form_tag '', method: :get do %>
  标题: <%= text_field_tag :blog_title, params[:blog_title] %>
  内容: <%= text_field_tag :blog_content, params[:blog_content] %>
  <%= submit_tag "查询", class: "form_submit", class: 'btn btn-secondary'  %>
<% end %>

<table class="table table-striped">
  <% @blog.each do |blog| %>
    <tr>
      <td >
        <a href="/blogs/<%= blog.id %>" > <%= blog.id %> <%= blog.title %> </a>
      </td>
      <td>
        <%=blog.title %>
      </td>
      <td>
        <%=blog.content %>
      </td>
      <td>
        <%= link_to "编辑", edit_blog_path(:id => blog.id) %>
        <%= link_to "删除",blog,:method => :delete, class: 'btn btn-primary' %>
      </td>
    </tr>
  <% end %>
</table>

<br/>
<%= link_to '返回', blogs_path %>


