<h1>listing blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
      <td >
        <a href="/blogs/<%= blog.id %>" > <%= blog.id %> <%= blog.title %> </a>
      </td>
      <td>
        <%=blog.title %>
      </td>
      <td>
        <%=blog.content %>
      </td>
      <td>
        <%= link_to "编辑", edit_blog_path(:id => blog.id) %>
        <%= link_to "删除",blog,:method => :delete, class: 'btn btn-primary' %>
      </td>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "新建", new_blog_path %><br/>
