<h3>列表</h3>

博客总数<%#= @total_ count  %>
<br/>
<%#= paginate @blogs %>

<table class="table table-striped">
    <tr>
      <td >
        <a href="/blogs/<%= blog.id %>" > <%= blog.id %> <%= blog.title %> </a>
      </td>
      <td>
        <%=blog.title %>
      </td>
      <td>
        <%=blog.content %>
      </td>
      <td>
        <%= link_to "编辑", edit_blog_path(:id => blog.id) %>
        <%= link_to "删除",blog,:method => :delete, class: 'btn btn-primary' %>
      </td>
    </tr>
</table>

<br/>

<%= link_to "新建", new_blog_path %><br/>
